* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    background-color: #eee;
}

header {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

h1 {
    font-weight: lighter;
}


h2{
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

p {
    margin-bottom: 10px;
    font-size: 14px;
}

main {
    text-align: center;
}

main>div{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

header label{
  color:#000;
}


/* editor */
#editor{
    display: none;
    background-color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}

/* conrols */

#controls {
    display: inline-block;
    width: 290px;
    text-align: left;
    vertical-align: top;
    margin-left: 30px;
}


/* #controls > div{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
} */

#image-toolbar {
    display: none;
    background-color: #eee;
}


#image_uploads {
    display: none;
}



#align td{
    border: 1px solid #bbb;
    width:25px;
    height: 25px;
    background-color: white;
}

#align td:hover{
    cursor:pointer;
    background-color: #bbb;
}

#align td.selected{
    background-color: red;
}

input[type="number"] {
    width: 80px;
}

button,
label,
input,
select {
    display: inline-block;
    margin: 5px 5px 0 0;
    background: white;
    border: 1px solid #bbb;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
}

button:hover,
label:hover {
    background: #bbb;
    color: white;
    cursor: pointer;
}

/* page */

#page { 
    /* width: 210mm;
    height: 297mm; */
    display: inline-block;
    overflow: hidden;
    border: 1px solid #BBB;
    /* zoom: .6; */
    font-size: 0;
    line-height: 0;
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#area {
    /* margin: 29.7mm 21mm;
    height: 237mm;
    width: 168mm; */
    outline: 1px dotted red;
    overflow: hidden;
    position: relative;
}

#content{
    display: inline-block;
    vertical-align: top; 
    line-height: 0%;
}


img {
    /* max-width: 100%; */
    /* Fuerza la impresion del background 
    print-color-adjust:exact; 
    -webkit-print-color-adjust:exact; */
    cursor: pointer;
    position: relative;
}

img.selected {
     outline: 3px  solid greenyellow; 
     outline-offset: -3px;
}

/* .selected::after{
    content:"<p>hola</p>";
    position: absolute;
    bottom: 10px;
} */

.rotate {
    rotate: 90deg;
}

.flip {
    transform: scaleX(-1);
}

.drag-sort-active {
    background: transparent;
    color: transparent;
}

#ads{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  height: 200px;
  border: 1px solid #ccc;
}


@media print {

    header,
    #editor,
    #controls,
    #ads {
        display: none;
    }

    body {
        max-width: auto;
        margin: 0;
        padding: 0;
    }
    
    #page {
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        zoom: normal !important;
        height: auto !important;
        width: auto !important;
        box-shadow: none;
    }

    #area {
        outline: none;
        margin: 0 !important;
    }

    img.selected {
        outline: none;
        opacity: 1;
    }
}